 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 *{
    margin: 0;
    padding: 0;
  }



 
.avatar_1{
  visibility: visible;
}
.avatar_2{
 display: none;
}
 

 
 .flip-card {
    margin-top: 50px;
    margin-left: 120px;
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: transparent;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(251, 252, 253);
    color: white;
    transform: rotateY(180deg);
  } 

  .Home_pic2{
    position: absolute;
    left: 22px;
  }

  .Home_pic3{
    display: none;
  }

  .para_2{
    position: relative;
    left: 120px;
    top: 20px;
    font-size: 70px;
    font-weight: 1000;
    font-family:'calibri';
    color: white;
    width: fit-content;
  }
  .bottom_footer{
    position: relative;
    top: 400px;
    height: 470px;
background-color: aliceblue;
  }

  .para_3{
    position: relative;
    left: 100px;
    top: 20px;
    font-size: 50px;
    font-weight: 1000;
    font-family:'calibri';
    color: rgb(48, 1, 49);
    width: fit-content;
  }
  .text1{
    position: relative;
    left: 100px;
    top: 60px;
    width: 500px;
    font-weight: 600;
    font-size: 24px;
    font-family:'calibri';
    color: rgb(48, 1, 49);
  }
  .text2{
    position: relative;
    left: 100px;
    top: 80px;
    width: 500px;
    font-weight: 200px;
    font-size: 20px;
    font-family:'calibri';
    color: rgb(48, 1, 49);
  }
  .text3{
    position: relative;
    left: 100px;
    top: 100px;
    width: 500px;
    font-weight: 400px;
    font-size: 20px;
    font-family:'calibri';
    color: rgb(48, 1, 49);
  }
.Btn{
    margin-left: 620px;
    width: 160px;
    height: 40px;
    background-color: #e61e6f;
    border: 0em;
    color: white;
    font-weight: 500;
}
#img_page2{
    float: right;
    margin-top: -270px;
    margin-right: 10px;
}



.section3{
    position: relative;
    top: 430px;
    background-color:rgb(8, 153, 243) ;
  height: 500px;
}
.section4{
  visibility: hidden;
}
.copyright2{
  position: relative;
  left: 100px;
  top: 450px;
  color: white;
  font-size: 19px;
  font-family: 'calibri';
}
.whatsApp{
  width: 120px;
  height:50px;
  font-size: medium;
  font-family: Inter;
  color: white;
  /* font-weight:; */
  background-color:#25D366;
  border-radius: 10px;
  border: 200px;
  position: relative;
  margin-top: 130px;
  margin-left:700px ;
  float: right;
  bottom: 300px;
  right: 30px;
}







.nav {
  display: none;
  height: 60px;
  width: 100%;
  background-color: #fcfafa;
  position:relative;
  
  
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: rgb(125, 122, 122);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  /* float: left; */
  margin-left: 600px;
font-weight: 600;
font-size: 20px;
margin-top: 30px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 7px 10px 7px;
  text-decoration: none;
  color: #464343;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}



.Home_pic4{
  display: none;
}



















/* -------------mobile version---------------- */























@media screen and (max-width: 400px){




  .nav {
    display: contents;
    height: 60px;
    width: 100%;
    background-color: #fffdfd;
    position:fixed;
    
    
  }


 .nav > .nav-btn {
    display: inline-block;
    position: fixed;
    right: 70px;
    top: 10px;
    height: 30px;
    width: 30px;
  }
  .nav > .nav-btn > label {

    margin-left: 40px;
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 15px;
    height: 5px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: relative;
    right: 595px;
    display: block;
    width: 40%;
    font-family: 'calibri';
    font-weight: 300;
    background-color: transparent;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
   
   
  }
  .nav > .nav-links > a {
    display: block;
    font-size: 14px;
    color: #fffefe;
    width: 100%;
    
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    /* height: calc(50vh - 50px); */
    
    overflow-y: auto;
  } 











 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 *{
  margin: 0;
  padding: 0;
}

.avatar_1{
display: none;
}
.avatar_2{
 display: contents;

}
.log{
 position: relative;
 right: 50px;
}


.flip-card {
  position: relative;
  bottom: 420px;
  right: 100px;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
 
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(251, 252, 253);
  color: white;
  transform: rotateY(180deg);
  color: #057ef7;
} 


.Home_pic3{
  display: contents;
  position: absolute;
  right: 10px;
 
  
}

.Home_pic4{
  display: none;
}
.img{
 position: relative;
 right: 100px;
}


.Home_pic2{
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 170px;
}
.para_2{
  position: relative;
  left: 120px;
  top: 20px;

  font-weight: 1000;
  font-family:'calibri';
  color: white;
  width: fit-content;
}


.p9{
  position: relative;
  bottom: 390px;
  font-size:40px;
}



.bottom_footer{
  position: relative;
  top: 00px;
  height: 470px;
background-color: aliceblue;
}


.sec2{
  position: relative;
  bottom: 139px;
  background-color: whitesmoke;
  height: 600px;
}





.para_3{
  position: relative;
  left: 20px;
  bottom: 200px;
  font-size: 35px;
  font-weight: 1000;
  font-family:'calibri';
  color: rgb(48, 1, 49);
  width: fit-content;
}
.text1{
  position: relative;
  left: 20px;
  top: 40px;
  width: 330px;
  font-weight: 600;
  font-size: 24px;
  font-family:'calibri';
  color: rgb(48, 1, 49);
}
.text2{
  position: relative;
  left: 20px;
  top: 80px;
  width: 300px;
  font-weight: 200px;
  font-size: 20px;
  font-family:'calibri';
  color: rgb(48, 1, 49);
}
.text3{
  position: relative;
  left: 20px;
  top: 100px;
  width: 300px;
  font-weight: 400px;
  font-size: 20px;
  font-family:'calibri';
  color: rgb(48, 1, 49);
}
.Btn{
  position: relative;
  margin-top: -250px;
  float: right;
  bottom: -60px;
 right: 20px;
  width: 160px;
  height: 40px;
  background-color: #e61e6f;
  border: 0em;
  color: white;
  border-radius: 10px;
  font-weight: 500;
}
#img_page2{
  float: right;
  margin-top: -1005px;
  width: 400px;
  margin-right: 0px;
}
.section3{
  display: none;
  position: relative;
  top: 430px;
  background-color:rgb(8, 153, 243) ;
  height: 500px;
}
.section4{
 visibility: visible;
  position: relative;
  top: 30px;
  background-color:rgb(8, 153, 243) ;
  height: 800px;

}


.disp{
  color: black;
}


.whatsApp2{
  width: 120px;
  height:50px;
  font-size: medium;
  font-family: Inter;
  color: white;
  /* font-weight:; */
  background-color:#25D366;
  border-radius: 10px;
  border: 200px;
  margin-right: 100px;
  margin-bottom: 30px;

  
}
#whp2{
  position: relative;
  right: 55px;
  top: 4px;
}


.contact{
  position: relative;
  bottom: 120px;
  left: 50px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}
#svg_contact{
  position: relative;
  right: 90px;
}

.email{
  position: relative;
  bottom: 230px;
  left: 50px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}

#svg_email{
  position: relative;
  right: 90px;
  bottom: 100px;
}
.lower_bar3{
  position: relative;
  top: 200px;
  left: 90px;
}

.lower_bar2{
  position: relative;
  top: 120px;
  left: 90px;
}
.lower_bar1{
  position: relative;
  top: 30px;
  left: 90px;
}

.h1_lower{
  color: rgb(1, 36, 66);
  font-size: 27px;
  font-family: 'calibri';
}
.p_lower{
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
  
}

.copyright3{
  position: relative;
  right: 60px;
  bottom: 260px;
  color: white;
  font-size: 19px;
  font-family: 'calibri';
}


.copyright2{
  display: none;
}

}




/* ------------star of landscape------------ */




@media screen and  (max-width:844px) and (orientation:landscape) {



  .Home_pic2{
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 170px;
  }



  .Home_pic4{
    display: contents;
    position: absolute;
    right: 10px;
   
    
  }

 
  
  .para_2{
    position: relative;
    left: 120px;
    top: 20px;
    font-size: 70px;
    font-weight: 1000;
    font-family:'calibri';
    color: white;
    width: fit-content;
  }



  .p9{
    position: relative;
    bottom: 590px;
    font-size:40px;
  }



  .flip-card {
    position: relative;
    bottom: 580px;
    right: 20px;
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }


  .log{
    position: relative;
    right: 50px;
   }

 
   .sec2{
    position: relative;
    bottom: 808px;
    background-color: whitesmoke;
    height: 600px;
  }



  .para_3{
    position: relative;
    left: 100px;
    bottom: 200px;
    font-size: 35px;
    font-weight: 1000;
    font-family:'calibri';
    color: rgb(48, 1, 49);
    width: fit-content;
  }


  .bottom_footer{
    position: relative;

  background-color: aliceblue;
  }
  



  #img_page2{
 position: relative;
 bottom: 300px;
 right: 230px;
  }

  .Btn{
    position: relative;
    bottom: 370px;
   right: 320px;
    width: 160px;
    height: 40px;
    background-color: #e61e6f;
    border: 0em;
    color: white;
    border-radius: 10px;
    font-weight: 500;
  }



  .section3{
    display: none;
    position: relative;
    top: 430px;
    background-color:rgb(8, 153, 243) ;
    height: 500px;
  }



  .section4{
    visibility: visible;
     position: relative;
     top: 30px;
     background-color:rgb(8, 153, 243) ;
     height: 800px;
   
   }


   .lower_bar1{
    position: relative;
    top: 475px;
    left: 90px;
  }


  .lower_bar2{
    position: relative;
    top: 330px;
    left: 130px;
  }



#lowerh1{
 position: relative;
 bottom: 270px;
}


.h1_lower{
  margin-bottom: 10px;
  color: rgb(1, 36, 66);
  font-size: 27px;
  font-family: 'calibri';
}



.contact{
  position: absolute;
top: -400px;
  left: 50px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}

#svg_contact{
  position: relative;
  right: 90px;
  top: -270px;
}


#svg_email{
  position: relative;
  right: 90px;
top: -380px;
}


.email{
  position: relative;
 top: -509px;
  left: 50px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}


.copyright3{
  display: none;
  position: relative;
  right: 60px;
  top: -200px;
  color: white;
  font-size: 19px;
  font-family: 'calibri';
}


.whatsApp2{
  width: 120px;
  height:50px;
  font-size: medium;
  font-family: Inter;
  color: white;
  /* font-weight:; */
  background-color:#25D366;
  border-radius: 10px;
  border: 200px;
  position: relative;
 bottom:110px ;
  margin-right: 400px;
 

  
}



.copyright2{
  position: relative;
  width: 700px;
  left: 50px;
  top: 350px;
  color: white;
  font-size: 19px;
  font-family: 'calibri';
}




}


/* --------end of landscape-------------------- */