
 *{
  margin: 0;
  padding: 0;
}



body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(5,100,181,1) 0%, rgba(4,124,197,1) 75%, rgba(2,165,224,1) 86%, rgba(0,212,255,1) 100%); 

  }
  .Top_navbar {
   position: fixed; 
   top: 0; 
   left: 0;
   z-index: 9999; 
   width: inherit;
  
   }
  
   .header{
   
      text-align: center;
      color: white;
   }
   .star{
    position: relative;
    bottom: 55px;
    left: 90px;
   }
  
  
   a{
  text-decoration: none;
   }
   
  
   
   .Top_navbar .logo{
      
      width: 160px;
      margin-left: 50px;
      height: 50px;
      font-family: 'calibri';
      font-weight: 800;
      font-size: 20px;
      margin-top: 20px;
   }
  
   /* --------------- */
   ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    
      width: 900px;
      margin-top: -49px;
      margin-left: 500px;
      
    }
    li {
      float: left;
      text-decoration: none;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 23px 35px;
      text-decoration: none;
      font-family: 'calibri';
      font-size: 23px;
      
      
      
    }
    
  li a:hover:not(.active) {
      color: rgb(174, 102, 242);
      border-bottom:em #e61e6f;
    }
    
    .active {
      background-color: #e61e6f;
      height: 10px;
      text-align: center;
      font-size: 15px;
   
      
    }

    .lower_bar1{
      position: relative;
      top:50px ;
      left: 90px;
      height: 60px;
    
    }


  
  .lower_bar3{
    position: relative;
    float: right;
    top: 100px;
    right: 440px;
  }
  
  .lower_bar2{
    position: relative;
    top: -10px;
    left: 590px;
  }


  .h1_lower{
    color: rgb(1, 36, 66);
    font-size: 37px;
    font-family: 'calibri';
  }
  .p_lower{
    color: rgb(3, 45, 83);
    font-size: 28px;
    font-family: 'calibri';
    
  }
  .contact{
    position: relative;
    bottom: 30px;
    left: 27px;
    color: rgb(3, 45, 83);
    font-size: 25px;
    font-family: 'calibri';
  }


  .email{
    position: relative;
    bottom: 50px;
    left: 27px;
    color: rgb(3, 45, 83);
    font-size: 27px;
    font-family: 'calibri';
  }

  #svg_email{
    position: relative;
    right: 0px;
    bottom: 20px;
  }






    
  
  .Top_navbarcolor{
    background-color: white;
    color: black;
    border-bottom: 1px solid lightgrey;
    width: 1670px;
    transition: 1s;

    height: 60px;
  }
   .black {
    color: black;
    background-color:transparent;
    
  
  }
  .black:hover{
    color: #e61e6f;
  
  }
  
  .hdblack{
    color: black;
    background-color: transparent;
  }
  .sttar{
    color: #e61e6f;
    margin-left: 10px;
  }
  /* Full-width input fields */
input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .Fromheader{
    position: relative;
    top: 150px;
    left: 640px;
    font-size: 40px;
    color: white;
    font-family: 'calibri';
  }
  .BTN{
    margin-bottom: 30px;
    margin-top: 160px;
    margin-left: 730px;
    background-color: #e61e6f;
    font-size: 19px;
  }
  /* Set a style for all buttons */
  button {

    background-color: rgb(6, 117, 229);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 19px;

  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #0393f9;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  .avatar23 {
   display: none;
 
  }


  .copyright3{
    position: relative;
    right: 60px;
    bottom: 20px;
    color: rgb(9, 1, 1);
    font-size: 19px;
    height: 50px;
    font-family: 'calibri';
  }
  

  .avatar{
    display: contents;
  }
  
  .container {
    padding: 16px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius: 20px;
  }
  
  span.email {
    position: relative;
    left: 700px;
    right: 0px;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
   
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fdfcfc;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 30px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.email {
       display: block;
       float: none;
      
    }
    .cancelbtn {
       width: 100%;
    }
  }
  .whatsApp2{
    background-color: #333;
    width: 120px;
    height:50px;
    font-size: medium;
    font-family: Inter;
    color: white;
    /* font-weight:; */
    background-color:#25D366;
    border-radius: 10px;
    border: 200px;
    position: relative;
    top: 150px;
    left: 1190px;
    
  }
  #whatsApp_img{
   position: relative;
   bottom: 10px;
  }
  .firts_div{
    margin-top: 50px;
    height: 600px;
  }
  .service_header{
    font-size: 60px;
    width: fit-content;
    position: relative;
    left: 700px;
    top: 40px;
    color: white;
  }
  .service_content{
   
    width: fit-content;
    margin-top: 70px;
    float: right;
    position: relative;
    right: 30px;
  }

  


  .p{
    font-size: 30px;
    font-family: 'calibri';
    color: rgb(247, 237, 237);
  }
  .service_img{
    width:400px;
    margin-top: 30px;
    margin-left: 0px;
  }

  .lowerh2{
    position: relative;
    bottom:10px ;
  }


  .mid_section{
    height: 700px;
    background-color: #fdfcfc;
  }
  .mid_header{
 position: relative;
 top: -100px;
    margin-left: 340px;
    font-family: 'calibri';
    font-size: 50px;
  }
  .mid_p{
    position: relative;
    top: -70px;
    left: 330px;
    font-size: 26px;
    font-family: 'calibri';
    font-weight: 300;
  
  }
  .ratings2{
    background-color: rgb(171, 171, 165);
    height: 150px;
    width: 220px;
    border-radius: 10px;
    position: relative;
    top: 60px;
    left: 19px;
  }
  .google_svg{
    position: relative;
    top: 10px;
    margin-left: 90px;
  
  }
  .head_rating{
    margin-left:80px ;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
  }
  .rates{
    margin-left:30px ;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 600;
  }
  .prates{
    position: relative;
    bottom: 0px;
 
  }
  #staff{
    float: right;
    position: relative;
    right: 350px;
  }
  #laptop_chat{
    position: relative;
    left: 540px;
  }
  #detergent{
    position: relative;
    left: 280px;
  }
  #washing_machine{
    position: relative;
    left: 100px;
    top: 10px;
  }
  #detergent23{
    position: relative;
    left: 282px;
  }
  #laptop_chat23{
    position: relative;
    left: 536px;
  }
  #staff_star{
    float: right;
    position: relative;
    right:240px;
    top: 80px;
  }
  #washing_machine_star{
    position: relative;
    left: 86px;
    top: 0px;
  }
  .li_1{
    text-decoration: none;
    font-size: 25px;
    font-family: 'calibri';
    position: relative;
    bottom: 200px;
    left: 70px;
  }
  .li_2{
    text-decoration: none;
    font-size: 25px;
    font-family: 'calibri';
    position: relative;
    bottom:200px;
    left: 260px;
  }
  .li_3{
    text-decoration: none;
    font-size: 25px;
    font-family: 'calibri';
    position: relative;
    bottom: 200px;
    left: 560px;
  }.li_4{
    text-decoration: none;
    font-size: 25px;
    font-family: 'calibri';
    position: relative;
    bottom: 200px;
    right: 360px;
   float: right;
  }




  
.section2{
  background-color:rgb(5, 141, 225) ;
  height: 700px;
  margin: 0px;
  padding: 0px;
 
}


.section4{
  visibility: visible;
  position: relative;
  top: 30px;
  background-color:rgb(8, 153, 243) ;
  height: 800px;

}


.lower_bar{
  margin-top:0px ;
  height: 60px;
  border-bottom:1px solid #c5bdc0;
}

#li{
display: block;
color: white;
text-align: center;
padding: 23px 45px;
text-decoration: none;
font-family: 'calibri';
font-size: 23px;
font-weight: 500;
}
#li3{
  margin-left: 170px;
display: block;
color: white;
text-align: center;
padding: 23px 45px;
text-decoration: none;
font-family: 'calibri';
font-size: 23px;
font-weight: 500;
}
#details1{
  color: white;

  width: fit-content;
  position: relative;
  left: 340px;
  top: 20px;
}
#details2{
  color: white;

  width: fit-content;
  position: relative;
  left: 540px;
bottom: 190px;
}
#details3{
  color: white;
  width: fit-content;
  position: relative;
  left: 730px;
  top: -200px;
}
#details4{
color: white;
  width: fit-content;
  position: relative;
  left: 920px;
  bottom: 520px;
}
.cards{
 width: fit-content;
  height: 205px;
  border-bottom: 1px solid rgb(246, 246, 244);
}
.detail{
  font-size: 19px;
  font-family: 'calibri';
}
.bottom_whatsApp{
  position: relative;
  float: right;
  bottom: 100px;
  right: 20px;
}
#bottom_star{
  margin-top: 30px;
}
.bottom_header{
  font-family: 'calibri';
  margin-top: 130px;
}
.copyright{
  width: fit-content;
  position: relative;
  left: 70px;
  top: 30px;
  color: rgb(4, 0, 0);
  font-size: 17px;
  font-family: 'calibri';
}
#btn_bottom{
  position: relative;
  left: 900px;
  bottom: 270px;
  width: 90px;
  height: 30px;
  background-color: #038ac4;
  border: 0em;
  color: rgb(239, 233, 233);
  font-weight: 500;

}
.mission{
width: fit-content;

}
.mission_header{
  position: relative;
  top: 50px;
  left: 20px;
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: 'calibri';
}
.mission_p{
  position: relative;
  top: 40px;
 left: 20px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'calibri';
}







.nav {
  display: none;
  height: 60px;
  width: 100%;
  background-color: #fcfafa;
  position:relative;
  
  
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: rgb(125, 122, 122);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  /* float: left; */
  margin-left: 600px;
font-weight: 600;
font-size: 20px;
margin-top: 30px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 7px 10px 7px;
  text-decoration: none;
  color: #464343;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}




















/* -------------------MOBILE VERSION------------------------------------------------------------- */











@media screen and (max-width: 400px){




  .nav {
    display: contents;
    height: 60px;
    width: 100%;
    background-color: #fffdfd;
    position:fixed;
    
    
  }


 .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 70px;
    top: 10px;
    height: 30px;
    width: 30px;
  }
  .nav > .nav-btn > label {
    margin-left: 40px;
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 15px;
    height: 5px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: relative;
    top: 10px;
    right: 545px;
    display: block;
    width: 40%;
    font-family: 'calibri';
    font-weight: 300;
    background-color: transparent;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
   
   
  }
  .nav > .nav-links > a {
    display: block;
    font-size: 22px;
    color: #fffefe;
    width: 100%;
    
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    /* height: calc(50vh - 50px); */
    
    overflow-y: auto;
  } 





  .Top_navbar {
    display: none;
     position: fixed; 
     top: 0; 
     left: 0;
     z-index: 9999; 
     width: 400px;
    
     }



     .header{
      position: relative;
      top: 25px;
     float: left;
     left: 125px;
      text-align: center;
     color: #f9fbfd;
     font-family: 'calibri';
      font-size: 34px;
      
     
   }

   .star{
    position: relative;
    bottom: 15px;
    left: 0px;
    font-size: 22px;
   }

   .para4{
    display: none;
    position: relative;
    font-size: 33px;
    font-weight: 800;
    font-family:'calibri';
    color: white;
    width: fit-content;
  }


  .Fromheader{
    position: relative;
    top: 80px;
    left: 90px;
    font-size: 30px;
    color: white;
    font-family: 'calibri';
  }



  .BTN{
    margin-bottom: 30px;
    margin-top: 160px;
    margin-left: 140px;
    background-color: #e61e6f;
    font-size: 19px;
  }



 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 30%; /* Full width */
  height: 30%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
 
}

span.email {
  float: right;
  padding-top: 16px;
  font-size: 13px;
}


.avatar23 {
  display: contents;

 }
.avatar{
  display: none;
}


.mid_header{
  position: relative;
  top: -70px;
     margin-left: 40px;
     font-family: 'calibri';
     font-size: 30px;
   }


   .mid_p{
    position: relative;
    top: -40px;
    left: 20px;
    font-size: 24px;
    font-family: 'calibri';
    font-weight: 300;
  
  }


  .mid_section{
    height: 900px;
    background-color: #fdfcfc;
    width: 100%;
  }

  
  #washing_machine{
    position: relative;
    left: 35px;
    top: 0px;
  }



  #staff{
    float: right;
    position: relative;
    right: 30px;
    bottom: 110px;
  }

  #detergent{
    position: relative;
    left: -110px;
    top: 190px;
  }


  #laptop_chat{
    position: relative;
    left: -30px;
    top: 190px;
  }


  #washing_machine_star{
    position: relative;
    left: 19px;
    top: -17px;
  }
#detergent23{
  position: relative;
  top: 190px;
  right: 110px;
}

#staff_star{
  position: relative;
  right:-87px;
  top: -50px;
}


#laptop_chat23{
 position: relative; 
 float: right;
 top: 156px;
 right: 24px;
}



.li_1{
  text-decoration: none;
  font-size: 20px;
  font-family: 'calibri';
  position: relative;
  bottom: 364px;
  left: 40px;
  font-weight: 300;
}


.li_2{
  text-decoration: none;
  font-size: 20px;
  font-family: 'calibri';
  position: relative;
  bottom: 160px;
  left: -98px;
  font-weight: 300;
}





.li_3{
  text-decoration: none;
  font-size: 20px;
  font-family: 'calibri';
  position: relative;
  bottom: 160px;
  left: 50px;
  font-weight: 300;
}
.li_4{
  text-decoration: none;
  font-size: 20px;
  font-family: 'calibri';
  position: relative;
  bottom: 360px;
  right: 80px;
 float: right;
 font-weight: 300;
}

.service_header{
  font-size: 40px;
  width: fit-content;
  position: relative;
  left: -10px;
  top: 0px;
  color: white;
}


.service_content{
   
  width: fit-content;
  margin-top: 40px;
  position: relative;
  left: 20px;
  right: 30px;
}
.p{
  font-size: 20px;
  font-family: 'calibri';
  color: rgb(247, 237, 237);
}

.service_img{
  width: 200px;
  margin-top: 30px;
  margin-left: 0px;
}


.section3{
  display: none;
  position: relative;
  top: 430px;
  background-color:rgb(8, 153, 243) ;
  height: 500px;
}




.section4{
  visibility: visible;
   position: relative;
   top: 30px;
   background-color:rgb(8, 153, 243) ;
   height: 800px;
 
 }
 
 .section2{
  display: none;
  background-color:rgb(5, 141, 225) ;
  height: 700px;
  margin: 0px;
  padding: 0px;
 
}



.disp{
  color: black;
}


.whatsApp2{
  width: 120px;
  height:50px;
  font-size: medium;
  font-family: Inter;
  color: white;
  /* font-weight:; */
  background-color:#25D366;
  border-radius: 10px;
  border: 200px;
 
}

.wh45{
  position: absolute;
  right:1320px;
  top: 30px;
  
}

#whp2{
  position: relative;
  right: 55px;
  top: 4px;
}


.contact{
  position: relative;
  bottom: 10px;
  left: 10px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}
#svg_contact{
  position: relative;
  right: 30px;
  top: 20px;
}

.email{
  position: relative;
  bottom: 30px;
  left: 10px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}

#svg_email{
  position: relative;
  right: 30px;
  bottom: 0px;
}
.lower_bar3{
  position: relative;
  top: 200px;
  left: 90px;
}

.lower_bar2{
  position: relative;
  top: 120px;
  left: 90px;
}
.lower_bar1{
  position: relative;
  top: 30px;
  left: 90px;
}

.h1_lower{
  color: rgb(1, 36, 66);
  font-size: 27px;
  font-family: 'calibri';
}
.p_lower{
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
  
}

.copyright3{
  position: relative;
  right: 60px;
  bottom: -90px;
  color: rgb(9, 1, 1);
  font-size: 19px;
  height: 50px;
  font-family: 'calibri';
}


.copyright2{
  display: none;
}



.ratings2{
  background-color:transparent;
  height: 100px;
  width: 170px;
  border-radius: 10px;
  position: relative;
  top: 1340px;
  left: 199px;
}


.google_svg{
  position: relative;
  top: 5px;
  margin-left: 90px;

}



.head_rating{
  margin-left:80px ;
margin-top: 10px;
font-size: 20px;
font-weight: 100;
color:white;
}


.rates{
  margin-left:30px ;
  margin-top: -2px;
  font-size: 25px;
  font-weight: 600;
}


.prates{
  position: relative;
  bottom: 3px;
}



#btn_bottom{
position: relative;
right: 790px;
  bottom: 30px;
  width: 90px;
  height: 30px;
  background-color: #038ac4;
  border: 0em;
  color: rgb(239, 233, 233);
  font-weight: 500;

}
}



/* ----------landsacep---------------========+++++++++---------- */

@media screen and  (max-width:844px) and (orientation:landscape) {



  .nav {
    display: contents;
    height: 60px;
    width: 100%;
    background-color: #fffdfd;
    position:fixed;
    
    
  }


 .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 70px;
    top: 10px;
    height: 30px;
    width: 30px;
  }
  .nav > .nav-btn > label {
    margin-left: 40px;
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 15px;
    height: 5px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: relative;
    top: 10px;
    right: 545px;
    display: block;
    width: 40%;
    font-family: 'calibri';
    font-weight: 300;
    background-color: transparent;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
   
   
  }
  .nav > .nav-links > a {
    display: block;
    font-size: 23px;
    color: #fffefe;
    width: 100%;
    
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    /* height: calc(50vh - 50px); */
    
    overflow-y: auto;
  } 

  .Top_navbar {
    display: none;
     position: fixed; 
     top: 0; 
     left: 0;
     z-index: 9999; 
     width: 400px;
    
     }

     .header{
      position: relative;
      top: 15px;
     float: left;
     left: 15px;
      text-align: center;
     color: #03335a;
     font-family: 'calibri';
      font-size: 34px;
      
     
   }

   .star{
    position: relative;
    bottom: 15px;
    left: 0px;
    font-size: 22px;
   }
 
   

   .BTN{
    margin-bottom: 30px;
    margin-top: 180px;
    margin-left: 340px;
    background-color: #e61e6f;
    font-size: 19px;
  }

  .Fromheader{
    position: relative;
    top: 80px;
    left: 290px;
    font-size: 30px;
    color: white;
    font-family: 'calibri';
  }



  
 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 60%; /* Full width */
  height: 30%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
 
}


.mid_header{
  position: relative;
  top: -100px;
     left: 20px;
     font-family: 'calibri';
     font-size: 30px;
   }


   .mid_p{
    position: relative;
    top: -70px;
    left: 320px;
    width: 500px;
    font-size: 24px;
    font-family: 'calibri';
    font-weight: 300;
  
  }

  .mid_section{
    height: 900px;
    background-color: #fdfcfc;
    width: 100%;
  }


  
  #washing_machine{
    position: relative;
    left: 35px;
    top: 0px;
  }

  #washing_machine_star{
    position: absolute;
    left: 127px;
    top: 870px;
  }
  #detergent{
    position: relative;
    left: 140px;
    top: -10px;
  }

  #staff{
    float: right;
    position: relative;
    right: 270px;
    bottom: -10px;
  }

  #laptop_chat{
    position: relative;
    left: 440px;
    top: -10px;
  }

  #detergent23{
    position: relative;
    left: 140px;
    top: -10px;
  }

  #staff_star{
    position: relative;
    right:147px;
    top: 65px;
  }


  
#laptop_chat23{
  position: relative; 
 right: 100px;
  

 }

 .li_1{
  text-decoration: none;
  font-size: 20px;
  font-family: 'calibri';
  position: relative;
  bottom: 84px;
  left: 30px;
  font-weight: 300;
}

.li_2{
  text-decoration: none;
  font-size: 20px;
  font-family: 'calibri';
  position: relative;
  bottom: 84px;
    left: 118px;
  font-weight: 300;
}

.li_4{
  text-decoration: none;
  font-size: 20px;
  font-family: 'calibri';
  position: relative;
  bottom: 84px;  right: 290px;
 float: right;
 font-weight: 300;
}


.li_3{
  text-decoration: none;
  font-size: 20px;
  font-family: 'calibri';
  position: relative;
  bottom: 84px;
  left: 500px;
  font-weight: 300;
}


.mid_section{
  height: 590px;
  background-color: #fdfcfc;
  width: 100%;
}


.service_header{
  font-size: 40px;
  width: fit-content;
  position: relative;
  left: 10px;
  top: 0px;
  color: white;
}

.service_content{
   
  width: fit-content;
  margin-top: 40px;
  position: relative;
 left: 7px;
}
.p{
  font-size: 20px;
  font-family: 'calibri';
  color: rgb(247, 237, 237);
}

.service_img{
  width: 200px;
  margin-top: 30px;
  margin-left: 10px;
}

.firts_div{
  margin-top: 50px;
  height: 300px;
}

.section4{
  visibility: visible;
   position: relative;
   top: 30px;
   background-color:rgb(8, 153, 243) ;
   height: 400px;
 
 }

 .lower_bar1{
  position: relative;
  top: 30px;
  left: 90px;
}

.lower_bar2{
  position: relative;
  top: -30px;
  left: 490px;
}

.h1_lower{
  color: rgb(1, 36, 66);
  font-size: 27px;
  font-family: 'calibri';
}
.p_lower{
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
  
}

#lowerh2{
  position: relative;
  bottom: 40px;
  left: 60px;
}

.email{
  position: relative;
  bottom:110px;
  left: 80px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}
.contact{
  position: relative;
  bottom: 10px;
  left: 80px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}


#svg_email{
  position: relative;
left: 50px;
top: -80px;
}


#svg_contact{
  position: relative;
  left: 50px;
 bottom: -22px;
}


#btn_bottom{
  position: relative;
  left: 530px;
    bottom: 140px;
    width: 90px;
    height: 30px;
    background-color: #038ac4;
    border: 0em;
    color: rgb(239, 233, 233);
    font-weight: 500;
  
  }
  .lower_bar3{
    position: relative;
    top: 10px;
    left: 50px;
 
 
  }
.copyright2{
  display: none;
}
}