*{
  margin: 0;
  padding: 0;
}



body{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(5,100,181,1) 0%, rgba(4,124,197,1) 75%, rgba(2,165,224,1) 86%, rgba(0,212,255,1) 100%); 
height:1700px ;
}
.Top_navbar {

 position: fixed; 
 top: 0; 
 left: 0;
 z-index: 9999; 
 width: 100%;

 }

 .header{
    text-align: center;
    color: white;
 }
 .star{
  position: relative;
  bottom: 55px;
  left: 90px;
 }


 a{
text-decoration: none;
 }
 

 
 .Top_navbar .logo{
    
    width: 160px;
    margin-left: 50px;
    height: 50px;
    font-family: 'calibri';
    font-weight: 800;
    font-size: 20px;
    margin-top: 20px;
 }

 /* --------------- */
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
    width: 900px;
    margin-top: -49px;
    margin-left: 300px;
    
  }
  li {
    float: left;
    text-decoration: none;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 23px 35px;
    text-decoration: none;
    font-family: 'calibri';
    font-size: 19px;
    
    
    
  }
  
li a:hover:not(.active) {
    color: rgb(174, 102, 242);
    border-bottom:em #e61e6f;
  }
  
  .active {
    background-color: #e61e6f;
    height: 10px;
    text-align: center;
    font-size: 15px;
 
    
  }
  

.Top_navbarcolor{
  background-color: white;
  color: black;
  border-bottom: 1px solid lightgrey;
  transition: 1s;
  height: 60px;
}
 .black {
  color: black;
  background-color:transparent;
  

}
.black:hover{
  color: #e61e6f;

}

.hdblack{
  color: black;
  background-color: transparent;
}
.sttar{
  color: #e61e6f;
  margin-left: 10px;
}
.company_logo{
  position: relative;
  bottom: 40px;
  left:50px;
  background-color: azure;
  width: fit-content; 
}
.section{
  margin-top:200px;
  height: 721px;

 
 
}

.section4{
  display: none;
}
.para{
  position: relative;
  left: 50px;
  top: 20px;
  font-size: 70px;
  font-weight: 1000;
  font-family:'calibri';
  color: white;
  width: fit-content;
}
.para2{
  position: relative;
  left: 50px;
  top: 50px;
  font-size: 30px;
  font-weight: 500;
  font-family:'Inter';
  color: white;
  width: fit-content;
}
.Home_pic{
  position: absolute;
  margin-left: 450px;
}


.Home_pic1{
  display: none;
}


.Home_btn{
  position: relative;
  left: 50px;
  top: 100px;

}
.btn{
  position: relative;
  right: 20px;
  float: left;
  padding: 10px;
}
#btn1{
  width: 160px;
  height: 40px;
  background-color: #e61e6f;
  border: 0em;
  color: white;
  font-weight: 500;

}
#btn2{
  width: 150px;
  height: 40px;
  color: white;
  background-color: transparent;
  font-weight: 500;
  border-color:  rgb(243, 171, 119);
}
.whatsApp1{
  background-color: #333;
  width: 120px;
  height:50px;
  font-size: medium;
  font-family: Inter;
  color: white;
  /* font-weight:; */
  background-color:#25D366;
  border-radius: 10px;
  border: 200px;
  position: relative;
  margin-top: 130px;
  margin-left:700px ;
}



.whatsApp2{
  background-color: #333;
  width: 120px;
  height:50px;
  font-size: medium;
  font-family: Inter;
  color: white;
  /* font-weight:; */
  background-color:#25D366;
  border-radius: 10px;
  border: 200px;
  position: relative;
  margin-top: 130px;
  margin-left:700px ;
  float: right;
  bottom: 300px;
  right: 30px;
}



.ratings{
  background-color: rgb(171, 171, 165);
  height: 150px;
  width: 220px;
  border-radius: 10px;
  position: fixed;
  top: 200px;
  left: 1320px;
}
.google_svg{
  margin-left: 90px;
  margin-top: 10px;
}
.head_rating{
  margin-left:80px ;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 100;
}
.rates{
  margin-left:30px ;
  margin-top: 5px;
  font-size: 25px;
  font-weight: 600;
}
.footer{ 
  background-color: white ;
  height: 700px;
}
#img_footer{
  margin-top: 30px;
}
.img_descr{
  position: absolute;
 
  width: fit-content;
  height: 700px;
}
.par{

margin-top:10px; 
  margin-left: 50px;
  width: 350px;
  font-size: 23px;
  font-family: 'calibri';
}



#btn{
  width: 160px;
  height: 40px;
  background-color: #41041b;
  border: 0em;
  color: white;
  font-weight: 500;
  margin-left: 400px;
  margin-bottom: 40px;

}
.hd235{
  display: none;
}



.mid_header{
  display: none;
  display: contents;
  position: relative;
  top: -70px;
     margin-left: 40px;
     font-family: 'calibri';
     font-size: 30px;
   }


.mid_p{
  display: none;
  position: relative;
  top: -40px;
  left: 20px;
  font-size: 24px;
  font-family: 'calibri';
  font-weight: 300;

}


.mid_section{
  display: none;
}



.mid_header{
  display: none;
  position: relative;
  top: -70px;
     margin-left: 40px;
     font-family: 'calibri';
     font-size: 30px;
   }

.descrip_header{
  float: right;
  margin-right: 320px;
  width: 700px;
  height: 700px;
}
#descrip_header{
  width: fit-content;
  margin-top: 20px;
  font-family: 'calibri';
  color: rgb(1, 68, 93) ;
  font-size: 52px;
}

.svg_boxes{
position: relative;
top: 270px;
width:600px ;
left:570px;
}
.svg1{
  
  width: fit-content;
  position: relative;
  left: 100px;
}
.svg2{
 
  width: fit-content;
  position: relative;
  left: 380px;
  bottom: 125px;
}
.svg3{

  width: fit-content;
  position: relative;
  left: 100px;
  top: -10px;
}
.svg4{
 
  width: fit-content;
  position: relative;
  left: 380px;
  bottom: 140px;
}
#tag{
  font-size: 23px;
  color: #2a0112;
  font-family: 'calibri';
}





.section2{
  background-color:rgb(5, 141, 225) ;
  height: 500px;
  margin: 0px;
  padding: 0px;
 
}
.lower_bar{
  margin-top:0px ;
  height: 60px;
  border-bottom:1px solid #c5bdc0;
}

#li{
display: block;
color: white;
text-align: center;
padding: 23px 45px;
text-decoration: none;
font-family: 'calibri';
font-size: 23px;
font-weight: 500;
}
#li3{
  margin-left: 170px;
display: block;
color: white;
text-align: center;
padding: 23px 45px;
text-decoration: none;
font-family: 'calibri';
font-size: 23px;
font-weight: 500;
}
#details1{
  color: white;

  width: fit-content;
  position: relative;
  left: 340px;
  top: 20px;
}
#details2{
  color: white;

  width: fit-content;
  position: relative;
  left: 540px;
  top: -90px;
}
#details3{
  color: white;
  width: fit-content;
  position: relative;
  left: 730px;
  top: -200px;
}
#details4{
color: white;
  width: fit-content;
  position: relative;
  left: 920px;
  top: -350px;
}
.cards{
 width: fit-content;
  height: 205px;
  border-bottom: 1px solid rgb(246, 246, 244);
}
.detail{
  font-size: 19px;
  font-family: 'calibri';
}
/* .bottom_whatsApp{
  position: relative;
  float: right;
  bottom: 300px;
  right: 30px;
} */
#bottom_star{
  margin-top: 30px;
}
.bottom_header{
  font-family: 'calibri';
  margin-top: 130px;
}
.copyright{
  width: fit-content;
  position: relative;
  left: 100px;
  top: 30px;
  color: rgb(4, 0, 0);
  font-size: 17px;
  font-family: 'calibri';
}
#btn_bottom{
  margin-left: 940px;
  width: 90px;
  height: 30px;
  background-color: #038ac4;
  border: 0em;
  color: rgb(239, 233, 233);
  font-weight: 500;

}
.mission{
width: fit-content;
}
.mission_header{
  position: relative;
  top: 30px;
  left:50px;
  width: fit-content;
  color: white;
  font-size: 30px;
  font-weight: 500;
  font-family: 'calibri';
}
.mission_p{
  position: relative;
  top: 50px;
  left:50px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: 'calibri';
}

.nav-btn{
  display: none;
}


.para4{
  display: none;
}




.nav {
  display: none;
  height: 60px;
  width: 100%;
  background-color: #fcfafa;
  position:relative;
  
  
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: rgb(125, 122, 122);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  /* float: left; */
  margin-left: 600px;
font-weight: 600;
font-size: 20px;
margin-top: 30px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 7px 10px 7px;
  text-decoration: none;
  color: #464343;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}





/* --------------------------BEGINING OF MOBILE VERSION---------------------------- */


@media screen and (max-width: 400px){


  .nav {
    display: contents;
    height: 60px;
    width: 100%;
    background-color: #fffdfd;
    position:fixed;
    
    
  }


 .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 70px;
    top: 10px;
    height: 30px;
    width: 30px;
  }
  .nav > .nav-btn > label {
    margin-left: 40px;
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 15px;
    height: 5px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: relative;
    right: 595px;
    display: block;
    width: 40%;
    font-family: 'calibri';
    font-weight: 300;
    background-color: transparent;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
   
   
  }
  .nav > .nav-links > a {
    display: block;
    font-size: 14px;
    color: #fffefe;
    width: 100%;
    
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    /* height: calc(50vh - 50px); */
    
    overflow-y: auto;
  } 


  .section{
    margin-top:100px;
    height: 721px;
  
   
   
  }

.Home_pic1{
position: absolute;

left: 10px;
width: 200px;

  display: contents;

}
img{
  margin-left: 100px;
  margin-bottom: 100px;
}

  .Home_pic{
   display: none;

   width: 400px;
   height: 200px;
  
  }








  .Top_navbar {
   display: none;
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 9999; 
    width: 400px;
   
    }
    .header{
      position: relative;
      top: 15px;
     float: left;
     left: 15px;
      text-align: center;
     color: #03335a;
     font-family: 'calibri';
      font-size: 34px;
      
     
   }

   .star{
    position: relative;
    bottom: 15px;
    left: 0px;
    font-size: 22px;
   }



.company_logo{
  position: relative;
  bottom: 340px;
  height: 130px;
  background-color: transparent;
}
.mobile-logo{
position: absolute;
right: 130px;
top: 30px;
width: 130px;

}
img.mobile-logo{
  position: relative;

}

.para4{
  display: contents;
  position: relative;
  font-size: 33px;
  font-weight: 800;
  font-family:'calibri';
  color: white;
  width: fit-content;
}
.para{
  display: none;
  position: relative;
  left: 50px;
  top: -20px;
  font-size: 10px;
  font-weight: 100;
  font-family:'calibri';
  color: white;
  width: fit-content;
}

.para2{
  position: relative;
  left: 40px;
  top: -150px;
  font-size: 20px;
  font-weight: 500;
  font-family:'Inter';
  color: white;
  width: fit-content;
}

.btn{
  position: relative;
  bottom: 390px;
  right: 20px;
  float: left;
  padding: 10px;
}


#btn1{
  width: 120px;
  height: 40px;
  background-color: #e61e6f;
  border: 0em;
  color: white;
  font-weight: 600;
  font-size: 11px;

}
#btn2{
  font-size: 11px;
  width: 120px;
  height: 40px;
  color: white;
  background-color: transparent;
  font-weight: 600;
  border-color:  rgb(243, 171, 119);
}
#img_footer{
  position: relative;
  
  width: 400px;
}

.footer{ 
  position: relative;
  bottom: 81px;
  background-color: rgb(222, 215, 215) ;
  height: 700px;
}

.img_descr{
  position: relative;
 height: 500px;
  width: 400px;
 
}

#img_footer{

position: relative;
bottom: 24px;
right: 100px;

}
.para{
  position: relative;
  left: 50px;
  top: 20px;
  font-size: 70px;
  font-weight: 1000;
  font-family:'calibri';
  color: white;
  width: fit-content;
}


.ratings{
  display: none;
  background-color: rgb(171, 171, 165);
  height: 120px;
  width: 160px;
  border-radius: 10px;
  position: fixed;
  top: 420px;
  left: 120px;
}

.google_svg{
  position: relative;
  margin-left: -33px;

  margin-top: 10px;
}


.head_rating{
  position: relative;
  margin-left:60px ;
  bottom: 100px;
  font-size: 15px;
  font-weight: 100;
}
.rates{
  position: relative;
  margin-left:10px ;
  bottom:100px ;
  font-size: 23px;
  font-weight: 600;
}

.p_rates{
  position: relative;
  bottom: 100px;
}
/* .description{
  display: none;
 position: relative;
 bottom: 330px;
 background-color: #eee;
 height: 100px;


} */

.descrip_header{
  float: right;
  margin-right: 320px;
  width: 700px;
  height: 700px;
}
#descrip_header{
  position: absolute;
  float: left;
  width: fit-content;
  bottom: 900px;
  font-family: 'calibri';
  color: rgb(1, 68, 93) ;
  font-size: 52px;
}




.par{
  position: relative;
  top: -790px;
 
  width: 300px;
  font-size: 22px;
  font-family: 'calibri';
}


.bottom_whatsApp{
  position: relative;
  bottom: 200px;
  right: 20px;
}


.hd235{
  display: contents;
  position: relative;
  top:0px;
  font-size: 30px;
  font-family: 'calibri';
}




.svg_boxes{
  display: none;
  position: relative;
  top: -490px;
  left:-40px;
  height: 400px;
  }
 


  .section2{
    display: none;
    background-color:rgb(5, 141, 225) ;
    height: 500px;
    margin: 0px;
    padding: 0px;
   
  }







  #btn{
    width: 120px;
    height: 40px;
    background-color: #41041b;
    border: 0em;
    color: white;
    font-weight: 500;
    position: absolute;
    right: 40%;
    bottom: 33pc;
  
  }
  


  .whatsApp1{
    background-color: #333;
    width: 120px;
    height:50px;
    font-size: medium;
    font-family: Inter;
    color: white;
    /* font-weight:; */
    background-color:#25D366;
    border-radius: 10px;
    border: 200px;
    position: relative;
    margin-top: 130px;
    margin-left:100px ;
  }


  .whatsApp2{
    background-color: #333;
    width: 120px;
    height:50px;
    font-size: medium;
    font-family: Inter;
    color: white;
    /* font-weight:; */
    background-color:#25D366;
    border-radius: 10px;
    border: 200px;
    position: relative;
    margin-top: 130px;
    margin: left 3px;;
    float: right;
    bottom: 300px;
    right: 30px;
  }
  




  .mid_header{
    position: relative;
    top: -100px;
       margin-left: 40px;
       font-family: 'calibri';
       font-size: 30px;
     }

     .section4{
      display: contents;
    }


     .mid_p{
      display: none;
      position: relative;
      top: -40px;
      left: 20px;
      font-size: 24px;
      font-family: 'calibri';
      font-weight: 300;
    
    }




    .mid_section{
      display: contents;
      height: 900px;
      background-color: #fdfcfc;
      width: 100%;
    }
  

     #washing_machine{
      position: relative;
      margin-bottom: 540px;
      right: 70px;
     }
     #detergent{
      position: relative;
      bottom: 648px;
      left: 165px;
     }

#laptop_chat{
  position: relative;
  bottom: 580px;
  right: 70px;
}
#staff{
  position: relative;
  bottom:780px ;
  left: 170px;
}

.li_1{
  position: relative;
  bottom: 1150px;
  left: 30px;
  font-size: 20px;
}

.li_2{
  position: relative;
  bottom: 1150px;
  left: 140px;
  font-size: 20px;
}


.li_3{
  position: relative;
  bottom: 880px;
  right: 150px;
  font-size: 20px;
}

.li_4{
  position: relative;
  bottom: 880px;
  left: 60px;
  font-size: 20px;
}


#washing_machine_star{
  position: relative;
  bottom: 458px;
  right: 179px;
}
#detergent23{
  position: relative;
  bottom: 639px;
  left: 64px;
}


#laptop_chat23{
  position: relative;
  bottom: 579px;
  right: 169px;
}



#staff_star{
  position: relative;
  bottom: 776px;
  left: 56px;
}

.footer{
  height: 1000px;
}

.copyright{
  display: none;
}






.whatsApp2{
  width: 120px;
  height:50px;
  font-size: medium;
  font-family: Inter;
  color: white;
  /* font-weight:; */
  background-color:#25D366;
  border-radius: 10px;
  border: 200px;
 
}

.wh45{
  position: absolute;
  right:1320px;
  top: 30px;
  
}

#whp2{
  position: relative;
  right: 55px;
  top: 4px;
}


.contact{
  position: relative;
  bottom: 110px;
  left: 10px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}
#svg_contact{
  position: relative;
  right: 130px;
  top: 20px;
}

.email{
  position: relative;
  bottom: 220px;
  left: 10px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}

#svg_email{
  position: relative;
  right: 130px;
  bottom: 89px;
}
.lower_bar3{
  position: relative;
  top: 200px;
  left: 90px;
}

.lower_bar2{
  position: relative;
  top: 120px;
  left: 90px;
}
.lower_bar1{
  position: relative;
  top: 30px;
  left: 90px;
}

.h1_lower{
  color: rgb(1, 36, 66);
  font-size: 27px;
  font-family: 'calibri';
}
.p_lower{
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
  
}

.copyright3{
  position: relative;
  right: 60px;
  bottom: 90px;
  color: rgb(9, 1, 1);
  font-size: 19px;
  height: 50px;
  font-family: 'calibri';
}


#btn_bottom{
  position: relative;
right: 790px;
  bottom: 30px;
  width: 90px;
  height: 30px;
  background-color: #038ac4;
  border: 0em;
  color: rgb(239, 233, 233);
  font-weight: 500;
}





}
  






/* ----------satrt of land scape-------------------- */


@media screen and  (max-width:844px) and (orientation:landscape) {


  .nav {
    display: contents;
    height: 60px;
    width: 100%;
    background-color: #fffdfd;
    position:fixed;
    
    
  }


 .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 70px;
    top: 10px;
    height: 30px;
    width: 30px;
  }
  .nav > .nav-btn > label {
    margin-left: 40px;
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 15px;
    height: 5px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: relative;
    right: 595px;
    display: block;
    width: 40%;
    font-family: 'calibri';
    font-weight: 300;
    background-color: transparent;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
   
   
  }
  .nav > .nav-links > a {
    display: block;
    font-size: 14px;
    color: #fffefe;
    width: 100%;
    
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    /* height: calc(50vh - 50px); */
    
    overflow-y: auto;
  } 


  .section{
    margin-top:100px;
    height: 721px;
  
   
   
  }

.Home_pic1{
position: absolute;

left: 10px;
width: 200px;

  display: contents;

}
img{
  margin-left: 100px;
  margin-bottom: 100px;
}

  .Home_pic{
   display: none;

   width: 400px;
   height: 200px;
  
  }








  .Top_navbar {
   display: none;
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 9999; 
    width: 400px;
   
    }
    .header{
      position: relative;
      top: 15px;
     float: left;
     left: 15px;
      text-align: center;
     color: #03335a;
     font-family: 'calibri';
      font-size: 34px;
      
     
   }

   .star{
    position: relative;
    bottom: 15px;
    left: 0px;
    font-size: 22px;
   }



.company_logo{
  position: relative;
  bottom: 340px;
  height: 130px;
  background-color: transparent;
}
.mobile-logo{
position: absolute;
right: 130px;
top: 30px;
width: 130px;

}
img.mobile-logo{
  position: relative;

}

.para4{
  display: contents;
  position: relative;
  font-size: 33px;
  font-weight: 800;
  font-family:'calibri';
  color: white;
  width: fit-content;
}
.para{
  display: none;
  position: relative;
  left: 50px;
  top: -20px;
  font-size: 10px;
  font-weight: 100;
  font-family:'calibri';
  color: white;
  width: fit-content;
}

.para2{
  position: relative;
  left: 150px;
  top: -150px;
  font-size: 20px;
  font-weight: 500;
  font-family:'Inter';
  color: white;
  width: fit-content;
}

.btn{
  position: relative;
  bottom: 390px;
  right: 20px;
  float: left;
  padding: 10px;
}


#btn1{
  width: 120px;
  height: 40px;
  background-color: #e61e6f;
  border: 0em;
  color: white;
  font-weight: 600;
  font-size: 11px;

}
#btn2{
  font-size: 11px;
  width: 120px;
  height: 40px;
  color: white;
  background-color: transparent;
  font-weight: 600;
  border-color:  rgb(243, 171, 119);
}
#img_footer{
  position: relative;
  
  width: 400px;
}

.footer{ 
  position: relative;
  bottom: 81px;
  background-color: rgb(222, 215, 215) ;
  height: 700px;
}

.img_descr{
  position: relative;
 height: 500px;
  width: 400px;
 
}

#img_footer{

position: relative;
bottom: 24px;
right: 100px;

}
.para{
  position: relative;
  left: 50px;
  top: 20px;
  font-size: 70px;
  font-weight: 1000;
  font-family:'calibri';
  color: white;
  width: fit-content;
}


.ratings{
  display: none;
  background-color: rgb(171, 171, 165);
  height: 120px;
  width: 160px;
  border-radius: 10px;
  position: fixed;
  top: 420px;
  left: 120px;
}

.google_svg{
  position: relative;
  margin-left: -33px;

  margin-top: 10px;
}


.head_rating{
  position: relative;
  margin-left:60px ;
  bottom: 100px;
  font-size: 15px;
  font-weight: 100;
}
.rates{
  position: relative;
  margin-left:10px ;
  bottom:100px ;
  font-size: 23px;
  font-weight: 600;
}

.p_rates{
  position: relative;
  bottom: 100px;
}
/* .description{
  display: none;
 position: relative;
 bottom: 330px;
 background-color: #eee;
 height: 100px;


} */

.descrip_header{
  float: right;
  margin-right: 320px;
  width: 700px;
  height: 700px;
}
#descrip_header{
  display: none;
  position: absolute;
  float: left;
  left: 200px;
  width: fit-content;
  bottom: 900px;
  font-family: 'calibri';
  color: rgb(1, 68, 93) ;
  font-size: 32px;
}




.par{
  position: relative;
  top: -790px;
 left: 100px;
  width: 300px;
  font-size: 22px;
  font-family: 'calibri';
}


.bottom_whatsApp{
  position: relative;
  bottom: 200px;
  right: 20px;
}


.hd235{
  display: contents;
  position: relative;
  top:0px;
  font-size: 30px;
  font-family: 'calibri';
}




.svg_boxes{
  display: none;
  position: relative;
  top: -490px;
  left:-40px;
  height: 400px;
  }
 


  .section2{
    display: none;
    background-color:rgb(5, 141, 225) ;
    height: 500px;
    margin: 0px;
    padding: 0px;
   
  }







  #btn{
    width: 120px;
    height: 40px;
    background-color: #41041b;
    border: 0em;
    color: white;
    font-weight: 500;
    position: absolute;
    right: 10%;
    bottom: 35pc;
  
  }
  


  .whatsApp1{
    background-color: #333;
    width: 120px;
    height:50px;
    font-size: medium;
    font-family: Inter;
    color: white;
    /* font-weight:; */
    background-color:#25D366;
    border-radius: 10px;
    border: 200px;
    position: relative;
    margin-top: 130px;
    margin-left:100px ;
  }


  .whatsApp2{
    background-color: #333;
    width: 120px;
    height:50px;
    font-size: medium;
    font-family: Inter;
    color: white;
    /* font-weight:; */
    background-color:#25D366;
    border-radius: 10px;
    border: 200px;
    position: relative;
    margin-top: 130px;
    margin: left 3px;;
    float: right;
    bottom: 300px;
    right: 30px;
  }
  




  .mid_header{
    position: relative;
    top: -100px;
       margin-left: 40px;
       font-family: 'calibri';
       font-size: 30px;
     }

     .section4{
      display: contents;
     
    }


     .mid_p{
      display: none;
      position: relative;
      top: -40px;
      left: 20px;
      font-size: 24px;
      font-family: 'calibri';
      font-weight: 300;
    
    }




    .mid_section{
      display: contents;
      height: 900px;
      background-color: #fdfcfc;
      width: 100%;
    }
  

     #washing_machine{
      position: relative;
     bottom: 380px;
     left: 330px;
     }
     #detergent{
      position: relative;
     bottom: 396px;
      left: 255px;
     }

#laptop_chat{
  position: relative;
  bottom: 380px;
  left: 190px;
}
#staff{
  position: relative;
  bottom:380px ;
  left: 140px;
}

.li_1{
  position: relative;
  bottom: 480px;
  left: 419px;
  font-size: 20px;
}

.li_2{
  position: relative;
  bottom: 690px;
  left: 699px;
  font-size: 20px;
}


.li_3{
  position: relative;
  bottom: 480px;
left: 390px;
  font-size: 20px;
}

.li_4{
  position: relative;
  bottom: 480px;
  left: 630px;
  font-size: 20px;
}


#washing_machine_star{
  position: relative;
  bottom: 398px;
  left: 220px;
}
#detergent23{
  position: relative;
  bottom: 399px;
  left: 157px;
}


#laptop_chat23{
  position: relative;
  bottom: 379px;
left: 90px;
}



#staff_star{
  position: relative;
  bottom: 376px;
  left: 29px;
}

.footer{
  height: 500px;
}

.copyright{
  display: none;
}


.whatsApp1{
  background-color: #333;
  width: 120px;
  height:50px;
  font-size: medium;
  font-family: Inter;
  color: white;
  /* font-weight:; */
  background-color:#25D366;
  border-radius: 10px;
  border: 200px;
  position: relative;
  margin-top: 12px;
  margin-left:100px ;
}

#mobile_whatsApp{
  position: relative;
  right: 55px;
  top: 6px;
}





.whatsApp2{
  width: 120px;
  height:50px;
  font-size: medium;
  font-family: Inter;
  color: white;
  /* font-weight:; */
  background-color:#25D366;
  border-radius: 10px;
  border: 200px;
 
}

.wh45{
  position: absolute;
  right:1320px;
  top: 30px;
  
}

#whp2{
  position: relative;
  right: 55px;
  top: 4px;
}


.contact{
  position: relative;
  bottom: 1710px;
  left: 10px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}
#svg_contact{
  position: relative;
  right: 130px;
  bottom: 1580px;
}

.email{
  position: relative;
  bottom: 1820px;
  left: 10px;
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
}

#svg_email{
  position: relative;
  right: 130px;
  bottom: 1689px;
}
.lower_bar3{
  position: relative;
 top: 600px;
  left: 90px;
}

.lower_bar2{
  position: relative;
 bottom: 200px;
  left: 390px;
}
.lower_bar1{
  position: relative;
  bottom: 50px;
  left: 90px;
}

.h1_lower{
  color: rgb(1, 36, 66);
  font-size: 27px;
  font-family: 'calibri';
  position: relative;
  
}

#h1{
  position: relative;
  bottom: 800px;
}
.p_lower{
  color: rgb(3, 45, 83);
  font-size: 22px;
  font-family: 'calibri';
  
}

.copyright3{
  position: relative;
  right: 60px;
  width: 800px;
  bottom: 1700px;
  color: rgb(9, 1, 1);
  font-size: 19px;
  height: 50px;
  font-family: 'calibri';
}


#btn_bottom{
  position: relative;
right: 790px;
  bottom: 30px;
  width: 90px;
  height: 30px;
  background-color: #038ac4;
  border: 0em;
  color: rgb(239, 233, 233);
  font-weight: 500;
}




}


/* -----------end of landscape------------ */







  

  
 
 